@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Raleway&display=swap');
/* note
    font-family: 'Oswald', sans-serif;
    font-family: 'Raleway', sans-serif;
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
}

h1,
h2,
h3,
h4,
h5,
h6 { 
    font-family: 'Oswald', sans-serif;
}

p {
    font-family: 'Raleway', sans-serif;
}

.wrapper {
    width: 100%;
    margin: auto;
}

/* (1) Header Area */
.nav {
    overflow: auto;
    width: 85%;
    margin: 1em auto;
}

.nav h1 {
    text-transform: uppercase;
    width: 50%;
    float: left;
}

.nav h1 a {
    font-family: 'Oswald', sans-serif;
    color: #96746b;
    text-decoration: none;
}

.nav ul {
    width: 50%;
    float: left;
    text-align: right;
    padding-top: 1em;
}

.nav ul li {
    display: inline-block;
    margin-left: 1em;
}

.nav ul a {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: #312a26;
    text-decoration: none;
}

/* (2) Banner Area */
.banner {
    width: 100%;
    height: 670px;
    background-image: url(../images/banner-bg.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}

.banner-text {
    position: absolute;
    top: 50%;
    left: 7.5%;
    transform: translateY(-50%);
}

.banner-text h2 {
    text-transform: uppercase;
    font-size: 4em;
    color: #c7a17a;
}

.banner-text h2 span {
    color: #96746b;
}

.banner-text p {
    color:#fff;
}

.banner-text a {
    color: #fff;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    padding:1em;
    background-color: #312a26;
    display: inline-block;
    margin-top: 1em;
}

/* (3) Ads Area */
.ads {
    width: 85%;
    margin: 4em auto;
    overflow: auto;
}

.ads-items {
    background-size: cover;
    width: 48.5%;
    height: 350px;
    margin-bottom: 3%;
    float: left;
    color: white;
    background-position: center;
    position: relative;
}

.ads-item1 {
    margin-right: 3%;
    background-image: url(../images/ads-img1.jpg);
}

.ads-item2 {
    background-image: url(../images/ads-img2.jpg);
}

.ads-text {
    position: relative;
    position: absolute;
    top: 50%;
    left: 10%;
    width: 40%;
    transform: translateY(-50%);
}

.ads-text h3 {
    font-size: 2em;
    color: #fff;
    text-shadow: 3px 3px 6px #312a26;
    text-transform: uppercase;
    line-height: 1.2em;
}

.ads-text a {
    display: block;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    margin-top: 1em;
    text-shadow: 3px 3px 5px #312a26;
}

/* (4) Merchandise Area */
.merch {
    width: 85%;
    margin: 4em auto;
}

.section-header {
    text-align: center;
}

.section-header span {
    color: #c7a17a;
    font-style: italic;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
}

.section-header h2 {
    text-transform: uppercase;
    color: #312a26;
}

.section-header hr {
    background-color: #c7a17a;
    height: 2px;
    width: 30%;
    margin: auto;
}

.merch-gallery {
    margin-top: 2em;
    overflow: auto;
}

.merch-items {
    float: left;
    width: 24.25%;
    margin-right: 1%;
    margin-bottom: 1%;
}

/* Pseudo Element */
.merch-items:nth-child(4),
.merch-items:nth-child(8) {
    margin-right: 0;
}

.merch-items img {
    width: 100%;
    height: 350px;
    object-fit: cover;
}

/* Discount Area */
.discount {
    background-image: url(../images/discount-img.jpg);
    background-size: cover;
    width: 85%;
    height: 350px;
    margin: 4em auto;
    object-fit: cover;
    background-position: center;
    position: relative;
}

.discount-text {
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.discount-text span {
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-style: italic;
    text-shadow: 3px 3px 6px #312a26;
}

.discount-text h2 {
    color: #fff;
    font-size: 2em;
    text-transform: uppercase;
    text-shadow: 3px 3px 6px #312a26;
}

.discount-text a {
    color: #312a26;
    margin-top: 1em;
    padding: 1em;
    background-color: rgba(255, 255, 255, .5);
    text-decoration: none;
    display: inline-block;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
}

/* (7) Ads Area */
.ads-item3 {
    margin-right: 3%;
    background-image: url(../images/ads-img3.jpg);
}

.ads-item4 {
    background-image: url(../images/ads-img4.jpg);
}

.ads-item5 {
    margin-right: 3%;
    background-image: url(../images/ads-img5.jpg);
}

.ads-item6 {
    background-image: url(../images/ads-img6.jpg);
}

/* (8) Reservation Area */
.reservation {
    width: 85%;
    margin: 4em auto;
}

form {
    overflow: auto;
}

.form-group {
    background-color: #f2f2f2;
    width: 49.5%;
    height: 650px;
    float: left;
    border-radius: 5px;
    padding: 2em;
    margin-top: 2em;
}

.form-group:nth-child(1) {
    margin-right: 1%;
}

form input,
form label,
form select,
form textarea {
    display: inline-block;
    width: 100%;
    font-family: 'Raleway', sans-serif;
    padding: 1em;
    margin-bottom: 1em;
}

form label {
    font-weight: 700;
    margin-bottom: 0.5em;
    padding: 0;
}

.res-time {
    text-align: center;
}

.res-time * {
    width: auto;
}

form p {
    margin: 1em;
    text-align: center;
    font-weight: 700;
}

form h3 {
    text-align: center;
    text-transform: uppercase;
}

form h3::after {
    content: "";
    background-image: url(../images/reservation-cards.png);
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
    width: 150px;
    height: 30px;
    margin: auto;
}

.res-agreement * {
    width: auto;
}

form input[type="submit"] {
    background-color: #c7a17a;
    font-weight: 700;
    text-transform: uppercase;
 }

/* (9) Footer Area */
.footer {
    background-image: url(../images/footer-img.jpg);
    background-size: cover;
    background-position: center;
    padding-top: 2em;
    padding-bottom: 2em;
}

.footer-contents {
    width: 85%;
    margin: auto;
    overflow: auto;
}

.footer-widget {
    width: 24.25%;
    float: left;
    margin-right: 1%;
}

.footer-widget:nth-child(4) {
    margin-right: 0;
}

.footer-widget h3 {
    text-transform: uppercase;
    text-shadow: 3px 3px 6px #312a26;
    margin-top: 1em;
    margin-bottom: 1em;
    color: #fff;
}

.footer-widget h4 {
    color: #fff;
}

.footer-widget p {
    font-family: 'Raleway', sans-serif;
    color: #c7a17a;
}

.footer td, th
{
    color: #fff;
    font-family: 'Raleway', sans-serif;
    text-shadow: 3px 3px 6px #312a26;
}

.footer-form input {
    height: 3em;
    width: auto;
}

.footer-form input[type="submit"] {
    background-color: #c7a17a;
    text-transform: uppercase;
    font-weight: 700;
    padding: 0.5em;
}

/* (10) Footer Social */
.footer-social {
    background-color: #312a26;
    overflow: auto;
    padding: 1em 7.5%;
}
.social-widget {
    background-color: #312a26;
    float: left;
    width: 33.33%;
    margin: auto;
    text-align: center;
}

.social-widget h3 {
    color: #fff;
    text-transform: uppercase;
}

.social-widget p {
    color: #fff;
}

.social-widget img {
    width: 25px;
    height: 25px;
}









